:root {
    /* FONT */

    --font-dm-sans: "DM Sans", sans-serif;

    --text-base-dark: #000;
    --text-base-light: #fff;
    --text-sub: #a7a7a7;
  
    --bg-icon: #131313;
    --bg-top-bar: #61616142;
    --grid-gap: 24px;
    --column-count: 5;
  
    
}

/* MEDIA QUERYS */
@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
}

